@page
@model BirdCageShop.Pages.Users.UOrder.CheckoutModel
@{
}


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center"
         style="min-height: 300px;">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Thanh toán</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Thanh toán</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Địa chỉ thanh toán</h4>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Họ và tên</label>
                        <input class="form-control" type="text" placeholder="John" />
                    </div>

                    <div class="col-md-6 form-group">
                        <label>Email</label>
                        <input class="form-control"
                               type="text"
                               placeholder="example@email.com" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Số điện thoại di động</label>
                        <input class="form-control"
                               type="text"
                               placeholder="+123 456 789" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Địa chỉ dòng 1</label>
                        <input class="form-control"
                               type="text"
                               placeholder="123 Street" />
                    </div>

                    <div class="col-md-6 form-group">
                        <label>Thành phố</label>
                        <input class="form-control"
                               type="text"
                               placeholder="New York" />
                    </div>
                </div>
            </div>
            <div class="collapse mb-4" id="shipping-address">
                <h4 class="font-weight-semi-bold mb-4">Địa chỉ giao hàng</h4>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Họ và tên</label>
                        <input class="form-control" type="text" placeholder="John" />
                    </div>

                    <div class="col-md-6 form-group">
                        <label>Email</label>
                        <input class="form-control"
                               type="text"
                               placeholder="example@email.com" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Số điện thoại di động</label>
                        <input class="form-control"
                               type="text"
                               placeholder="+123 456 789" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Địa chỉ dòng 1</label>
                        <input class="form-control"
                               type="text"
                               placeholder="123 Street" />
                    </div>

                    <div class="col-md-6 form-group">
                        <label>Thành phố</label>
                        <input class="form-control"
                               type="text"
                               placeholder="New York" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Tổng đơn hàng</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Sản phẩm</h5>

                    <div class="d-flex justify-content-between">
                        <p>Áo sơ mi phong cách màu sắc 1</p>
                        <p>$150</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Áo sơ mi phong cách màu sắc 2</p>
                        <p>$150</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Áo sơ mi phong cách màu sắc 3</p>
                        <p>$150</p>
                    </div>
                    <hr class="mt-0" />
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Tổng cộng</h6>
                        <h6 class="font-weight-medium">$150</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Vận chuyển</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Tổng cộng</h5>
                        <h5 class="font-weight-bold">$160</h5>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Thanh toán</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio"
                                   class="custom-control-input"
                                   name="payment"
                                   id="directcheck" />
                            <label class="custom-control-label" for="directcheck">Thanh toán trực tiếp</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <a href="">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">
                            Đặt hàng
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
