<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" />

    <style>
        .custom-input {
            background-color: #f2f2f2;
            border-radius: 10px;
        }

        .equal-height-cols {
            display: flex;
        }

            /* Đảm bảo các cột trong hàng có cùng chiều cao */
            .equal-height-cols [class^="col-"] {
                display: flex;
                flex-direction: column;
            }

                /* Hiển thị nội dung bên trong cột */
                .equal-height-cols [class^="col-"] > * {
                    flex: 1;
                }

        .bo-1 {
            border-radius: 30px;
        }

        .bo-2 {
            border-radius: 30px;
        }
    </style>
</head>
<body>
        @RenderBody()

</body>
</html>
