@page
@model BirdCageShop.Pages.Manager.MOrderDetail.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderDetail.DetailId" />
            <div class="form-group">
                <label asp-for="OrderDetail.OrderId" class="control-label"></label>
                <select asp-for="OrderDetail.OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
                <span asp-validation-for="OrderDetail.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.CageId" class="control-label"></label>
                <select asp-for="OrderDetail.CageId" class="form-control" asp-items="ViewBag.CageId"></select>
                <span asp-validation-for="OrderDetail.CageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.DetailPrice" class="control-label"></label>
                <input asp-for="OrderDetail.DetailPrice" class="form-control" />
                <span asp-validation-for="OrderDetail.DetailPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.DetailQuantity" class="control-label"></label>
                <input asp-for="OrderDetail.DetailQuantity" class="form-control" />
                <span asp-validation-for="OrderDetail.DetailQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.AccessoryId" class="control-label"></label>
                <select asp-for="OrderDetail.AccessoryId" class="form-control" asp-items="ViewBag.AccessoryId"></select>
                <span asp-validation-for="OrderDetail.AccessoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
