USE [master]
GO
/****** Object:  Database [CageShopUni_ala]    Script Date: 10/19/2023 8:59:39 AM ******/
CREATE DATABASE [CageShopUni_ala]
USE [CageShopUni_ala]
GO
/****** Object:  Table [dbo].[Accessory]    Script Date: 10/19/2023 8:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessory](
	[AccessoryID] [int] IDENTITY(1,1) NOT NULL,
	[AccessoryName] [nvarchar](50) NULL,
	[AccessoryPrice] [float] NULL,
	[AccessoryIMG] [image] NULL,
	[AccessoryDescription] [nvarchar](255) NULL,
	[AccessoryQuantity] [int] NULL,
	[AccessoryStatus] [int] NULL,
	[CategoryID] [int] NULL,
	[DiscountID] [int] NULL,
 CONSTRAINT [PK_Accessories] PRIMARY KEY CLUSTERED 
(
	[AccessoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/19/2023 8:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 10/19/2023 8:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountName] [varchar](50) NULL,
	[DiscountStart] [date] NULL,
	[DiscountFinish] [date] NULL,
	[Discount] [decimal](5, 2) NULL,
	[DiscountStatus] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/19/2023 8:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[OrderID] [int] NULL,
	[RatingID] [int] NULL,
	[FeedBackName] [varchar](50) NULL,
	[FeedBackContent] [text] NULL,
	[Rating] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 10/19/2023 8:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[CageID] [int] NULL,
	[DetailPrice] [decimal](8, 2) NULL,
	[DetailQuantity] [int] NULL,
	[AccessoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/19/2023 8:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[OrderStatus] [varchar](20) NULL,
	[OrderPrice] [decimal](8, 2) NULL,
	[OrderDate] [date] NULL,
	[OrderAdress] [varchar](100) NULL,
	[OrderName] [varchar](50) NULL,
	[OrderPhone] [varchar](20) NULL,
	[PaymentID] [int] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 10/19/2023 8:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentName] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/19/2023 8:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[CageID] [int] IDENTITY(1,1) NOT NULL,
	[CageName] [varchar](50) NULL,
	[CategoryID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](8, 2) NULL,
	[DiscountID] [int] NULL,
	[CageIMG] [image] NULL,
	[Material] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Bar] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[CageStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/19/2023 8:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/19/2023 8:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[UserPassword] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](100) NULL,
	[UserIMG] [image] NULL,
	[DoB] [date] NULL,
	[Status] [varchar](20) NULL,
	[RoleID] [int] NULL,
	[Gender] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accessory] ON 

INSERT [dbo].[Accessory] ([AccessoryID], [AccessoryName], [AccessoryPrice], [AccessoryIMG], [AccessoryDescription], [AccessoryQuantity], [AccessoryStatus], [CategoryID], [DiscountID]) VALUES (1, N'Cửa lồng chim', 2000, NULL, N'Phụ kiện thay thế cửa lồng chim', 1, 1, 6, NULL)
INSERT [dbo].[Accessory] ([AccessoryID], [AccessoryName], [AccessoryPrice], [AccessoryIMG], [AccessoryDescription], [AccessoryQuantity], [AccessoryStatus], [CategoryID], [DiscountID]) VALUES (2, N'Nắp lồng chim ', 1200, NULL, N'Phụ kiện thay nắp lồng chim', 12, 1, 6, NULL)
INSERT [dbo].[Accessory] ([AccessoryID], [AccessoryName], [AccessoryPrice], [AccessoryIMG], [AccessoryDescription], [AccessoryQuantity], [AccessoryStatus], [CategoryID], [DiscountID]) VALUES (3, N'Cây trang trí', 1393, NULL, N'Phụ kiện tạo địa hình giúp chim gần gũi với thiên nhiên hơn', 31, 1, 6, NULL)
SET IDENTITY_INSERT [dbo].[Accessory] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Cage', N'A cage is the most common type of bird housing. It is typically made of metal or plastic and has a wire mesh or bars to allow for ventilation and visibility. Cages come in a variety of sizes and shapes to accommodate different types of birds.')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Aviary', N'An aviary is a large, open-air enclosure that is typically used to house multiple birds. Aviaries can be made of wood, metal, or plastic and can be freestanding or attached to a building.')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Flight Cage', N'A flight cage is a large, spacious cage that is designed to allow birds to fly. Flight cages are typically made of metal and have a wire mesh or bars that are spaced closely together to prevent birds from escaping.')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([DiscountID], [DiscountName], [DiscountStart], [DiscountFinish], [Discount], [DiscountStatus]) VALUES (1, N'Discount for Cage (5%)', CAST(N'2023-09-18' AS Date), CAST(N'2023-11-24' AS Date), CAST(0.05 AS Decimal(5, 2)), N'Ongoing')
INSERT [dbo].[Discount] ([DiscountID], [DiscountName], [DiscountStart], [DiscountFinish], [Discount], [DiscountStatus]) VALUES (2, N'Discount for Cage (15%)', CAST(N'2023-05-20' AS Date), CAST(N'2023-09-19' AS Date), CAST(0.15 AS Decimal(5, 2)), N'Ended')
INSERT [dbo].[Discount] ([DiscountID], [DiscountName], [DiscountStart], [DiscountFinish], [Discount], [DiscountStatus]) VALUES (1002, N'Discount for Travel Cage (10%)', CAST(N'2023-09-20' AS Date), CAST(N'2023-11-24' AS Date), CAST(0.10 AS Decimal(5, 2)), N'Not Start')
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [OrderID], [RatingID], [FeedBackName], [FeedBackContent], [Rating]) VALUES (4, 1002, 2, 1, N'Materia very durability', N'This product is very good, I should buy one more. Keep it up!!!!', 4.5)
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [OrderID], [RatingID], [FeedBackName], [FeedBackContent], [Rating]) VALUES (5, 2, 1, 3, N'This shipping very slow', N'I ordered this age 3 weeks ago. But now still pending. What wrong with this! LMAO', 2)
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [OrderID], [RatingID], [FeedBackName], [FeedBackContent], [Rating]) VALUES (6, 1002, 2, 2, N'Material is not good', N'This material of this product still not hard. I can be curved when delivery!!!', 3)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([DetailID], [OrderID], [CageID], [DetailPrice], [DetailQuantity], [AccessoryID]) VALUES (1, 1, 1, CAST(3000.00 AS Decimal(8, 2)), 1, NULL)
INSERT [dbo].[OrderDetail] ([DetailID], [OrderID], [CageID], [DetailPrice], [DetailQuantity], [AccessoryID]) VALUES (2, 2, 2, CAST(2999.00 AS Decimal(8, 2)), 1, NULL)
INSERT [dbo].[OrderDetail] ([DetailID], [OrderID], [CageID], [DetailPrice], [DetailQuantity], [AccessoryID]) VALUES (3, 2, 8, CAST(5999.00 AS Decimal(8, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderStatus], [OrderPrice], [OrderDate], [OrderAdress], [OrderName], [OrderPhone], [PaymentID], [Note]) VALUES (1, 2, N'Pending', CAST(2850.00 AS Decimal(8, 2)), CAST(N'2023-09-18' AS Date), N'San Francisco, USA', N'TRAN TIEN LOC', N'0382381141', NULL, NULL)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderStatus], [OrderPrice], [OrderDate], [OrderAdress], [OrderName], [OrderPhone], [PaymentID], [Note]) VALUES (2, 1002, N'Deliveried', CAST(7798.20 AS Decimal(8, 2)), CAST(N'2023-09-14' AS Date), N'13 Ward, Go Vap, HCMC', N'TRAN THANH TIEN', N'0819477503', NULL, NULL)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderStatus], [OrderPrice], [OrderDate], [OrderAdress], [OrderName], [OrderPhone], [PaymentID], [Note]) VALUES (3, 1003, N'Delivered', CAST(5700.00 AS Decimal(8, 2)), CAST(N'2023-09-18' AS Date), N'HCMC', N'NGUYEN VAN Q ', N'011111', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([CageID], [CageName], [CategoryID], [Quantity], [Price], [DiscountID], [CageIMG], [Material], [Size], [Bar], [Description], [CageStatus]) VALUES (1, N'Cage 03', 1, 281, CAST(3000.00 AS Decimal(8, 2)), 1, NULL, N'Wood', N'S', 40, N'Lồng chim gỗ 40 nan là loại lồng chim phổ biến, được làm từ chất liệu gỗ tự nhiên, có 40 nan bằng nhau, tạo thành một hình tròn hoặc vuông. Loại lồng này có kích thước vừa phải, phù hợp với nhiều loại chim khác nhau. ', 1)
INSERT [dbo].[Product] ([CageID], [CageName], [CategoryID], [Quantity], [Price], [DiscountID], [CageIMG], [Material], [Size], [Bar], [Description], [CageStatus]) VALUES (2, N'Aviary 01', 2, 110, CAST(2999.00 AS Decimal(8, 2)), NULL, NULL, N'Metal', N'L', 60, N'Lồng chim gỗ 40 nan là loại lồng chim phổ biến, được làm từ chất liệu gỗ tự nhiên, có 40 nan bằng nhau, tạo thành một hình tròn hoặc vuông. Loại lồng này có kích thước vừa phải, phù hợp với nhiều loại chim khác nhau. ', 1)
INSERT [dbo].[Product] ([CageID], [CageName], [CategoryID], [Quantity], [Price], [DiscountID], [CageIMG], [Material], [Size], [Bar], [Description], [CageStatus]) VALUES (3, N'Flight Cage 01', 3, 11, CAST(3999.00 AS Decimal(8, 2)), NULL, NULL, N'Metal', N'XXL', 90, N'Lồng chim gỗ 40 nan là loại lồng chim phổ biến, được làm từ chất liệu gỗ tự nhiên, có 40 nan bằng nhau, tạo thành một hình tròn hoặc vuông. Loại lồng này có kích thước vừa phải, phù hợp với nhiều loại chim khác nhau. ', 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'User')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Adminstrator')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Shopkeeper')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [UserPassword], [Email], [Phone], [Address], [UserIMG], [DoB], [Status], [RoleID], [Gender]) VALUES (1, N'admin', N'admin123', N'admin@gmail.com', N'033162813', NULL, NULL, CAST(N'1999-08-12' AS Date), N'Active', 2, N'Male      ')
INSERT [dbo].[Users] ([UserID], [UserName], [UserPassword], [Email], [Phone], [Address], [UserIMG], [DoB], [Status], [RoleID], [Gender]) VALUES (2, N'User2912', N'2912', N'user@gmail.com', N'0382381141', N'San Francisco, USA', NULL, CAST(N'1983-12-01' AS Date), N'Active', 1, N'Female    ')
INSERT [dbo].[Users] ([UserID], [UserName], [UserPassword], [Email], [Phone], [Address], [UserIMG], [DoB], [Status], [RoleID], [Gender]) VALUES (3, N'ShopCageHCM', N'123', N'shopkeeper@gmail.com', N'085385823', N'Quan 3, HCMC', NULL, CAST(N'1992-10-21' AS Date), N'Active', 3, N'Male      ')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Accessory]  WITH CHECK ADD  CONSTRAINT [FK_Accessory_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Accessory] CHECK CONSTRAINT [FK_Accessory_Category]
GO
ALTER TABLE [dbo].[Accessory]  WITH CHECK ADD  CONSTRAINT [FK_Accessory_Discount] FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discount] ([DiscountID])
GO
ALTER TABLE [dbo].[Accessory] CHECK CONSTRAINT [FK_Accessory_Discount]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Users]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([CageID])
REFERENCES [dbo].[Product] ([CageID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Accessory] FOREIGN KEY([AccessoryID])
REFERENCES [dbo].[Accessory] ([AccessoryID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Accessory]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PaymentMethod] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[PaymentMethod] ([PaymentID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PaymentMethod]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discount] ([DiscountID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
USE [master]
GO
