@page
@model BirdCageShop.Pages.Admin.MProduct.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<div class="col-sm-12 col-md-8 mx-auto">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Edit Product</h6>
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">
                            <!-- Cage Name -->
                            <div class="col-md-6 mb-3">
                    <label asp-for="Product.CageName" class="control-label">Cage Name</label>
                                <input asp-for="Product.CageName" class="form-control" />
                                <span asp-validation-for="Product.CageName" class="text-danger"></span>
                            </div>
                            <!-- Category -->
                            <div class="col-md-3 mb-3">
                                <label for="InputBar" class="form-label">Category</label>

                                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                            </div>
                <!-- Discount -->
                <div class="col-md-3 mb-3">
                    <label for="InputBar" class="form-label">Discount</label>

                    <select asp-for="Product.DiscountId" class="form-control" asp-items="ViewBag.DiscountId"></select>
                    <span asp-validation-for="Product.DiscountId" class="text-danger"></span>
                </div>
                        </div>

                        <div class="row">
                            <!-- Material -->
                            <div class="col-md-2 mb-3">
                    <label asp-for="Product.Material" class="form-label">Material</label>
                    <select asp-for="Product.Material" class="form-select form-select-lg">
                                    <option value="" selected disabled></option>
                                    <option value="1">Gỗ</option>
                                    <option value="2">Thép</option>
                                    <option value="3">Nan Tre</option>
                                    <option value="4">Kim Loại</option>
                                    <!--Add more-->
                                </select>
                            </div>
                            <!-- Size -->
                            <div class="col-md-2 mb-3">
                    <label asp-for="Product.Size" class="form-label">Size</label>
                    <select asp-for="Product.Size" class="form-select form-select-lg">
                                    <option value="" selected disabled></option>
                                    <option value="1">S</option>
                                    <option value="2">M</option>
                                    <option value="3">L</option>
                                    <option value="4">XL</option>
                                    <!--Add more-->
                                </select>
                            </div>
                            <!-- Bar -->
                            <div class="col-md-2 mb-3">
                    <label asp-for="Product.Bar" class="form-label">Bar</label>
                    <input asp-for="Product.Bar" type="text" class="form-control form-control-lg" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                            </div>
                            <!--Price-->
                            <div class="col-md-2 mb-3">
                    <label asp-for="Product.Price" class="form-label">Price</label>
                    <input asp-for="Product.Price" type="text" class="form-control form-control-lg" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                            </div>                                                       
                            <!-- Quantity -->
                            <div class="col-md-2 mb-3">
                    <label asp-for="Product.Quantity" class="form-label">Quantity</label>
                    <input asp-for="Product.Quantity" type="text" class="form-control form-control-lg" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                            </div>   
                            <!-- Cage Status -->
                            <div class="col-md-2 mb-3">
                    <label asp-for="Product.CageStatus" class="form-label">Status</label>
                    <select asp-for="Product.CageStatus" class="form-select form-select-lg" id="floatingSelect" aria-label="Floating label select example">
                                    <option value="0">Hidden</option>
                                    <option value="1">Show</option>
                                    <option value="2">Customized</option>     
                                    </select>
                            </div>                                                      
                        </div>
            
                        <div class="row">
                            @* <!-- Row1 -->
                            <div class="col-md-0 mb-3">
                                <label for="floatingSelect" class="form-label"></label>
                                <select class="form-select form-select-lg" id="floatingSelect" aria-label="Floating label select example">
                                </select>

                            <!-- cho nay ko biet bi loi gi nhung phai de 1 cot trong-->
                            </div> *@
                            <!-- Row2 -->
                            <div class="col-md-3 mb-3">
                    @if (!string.IsNullOrEmpty(Model.Product.CageImg))
                    {
                        <img src="~/@Model.Product.CageImg" alt="Current Image" class="img-thumbnail" />
                        <p>Upload a new image if you want to change it.</p>
                    }
                            </div>
                            <div class="col-md-9 mb-3">
                    <label asp-for="Product.Description" class="form-label">Description</label>
                    <textarea asp-for="Product.Description" class="form-control form-control-lg" rows="4"></textarea>
                    <br> </br>
                    <label asp-for="Product.CageImg">Cage Image</label>
                    
                    <input name="CageImg" type="file" class="form-control" />
                    <span asp-validation-for="Product.CageImg" class="text-danger"></span>
                                </div>
                            </div>
            

            <a asp-page="./Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</a>
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
                        </div>                   
                    
                    
 </div>












@* <h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.OrderId" />
            <div class="form-group">
                <label asp-for="Order.UserId" class="control-label"></label>
                <input asp-for="Order.UserId" class="form-control" readonly />
                <span asp-validation-for="Order.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderStatus" class="control-label"></label>
                <select asp-for="Order.OrderStatus" class="form-control">
                    <option value="Pending">Pending</option>
                    <option value="Delivering">Delivering</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Rejected">Canceled</option>
                </select>
                <span asp-validation-for="Order.OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" readonly />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderAdress" class="control-label"></label>
                <input asp-for="Order.OrderAdress" class="form-control" readonly />
                <span asp-validation-for="Order.OrderAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderName" class="control-label"></label>
                <input asp-for="Order.OrderName" class="form-control" readonly />
                <span asp-validation-for="Order.OrderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderPhone" class="control-label"></label>
                <input asp-for="Order.OrderPhone" class="form-control" readonly />
                <span asp-validation-for="Order.OrderPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PaymentId" class="control-label"></label>
                <input asp-for="Order.PaymentId" class="form-control" readonly />
                <span asp-validation-for="Order.PaymentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Note" class="control-label"></label>
                <input asp-for="Order.Note" class="form-control" />
                <span asp-validation-for="Order.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
