@page
@model BirdCageShop.Pages.Manager.MProduct.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_ManagerLayout";
}

<div class="col-sm-12 col-md-8 mx-auto">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Edit Product</h6>
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.CageId" />
            <div class="row">
                <!-- Cage Name -->
                <div class="col-md-6 mb-3">
                    <label asp-for="Product.CageName" class="control-label">Cage Name</label>
                    <input asp-for="Product.CageName" class="form-control" />
                    <span asp-validation-for="Product.CageName" class="text-danger"></span>
                </div>
                <!-- Category -->
                <div class="col-md-3 mb-3">
                    <label for="InputBar" class="form-label">Category</label>

                    <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <!-- Discount -->
                <div class="col-md-3 mb-3">
                    <label for="InputBar" class="form-label">Discount</label>

                    <select asp-for="Product.DiscountId" class="form-control" asp-items="ViewBag.DiscountId"></select>
                    <span asp-validation-for="Product.DiscountId" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <!-- Material -->
                <div class="col-md-2 mb-3">
                    <label asp-for="Product.Material" class="form-label">Material</label>
                    <select asp-for="Product.Material" class="form-select form-select-lg">
                        <option value="" selected disabled></option>
                        <option value="1">Gỗ</option>
                        <option value="2">Thép</option>
                        <option value="3">Nan Tre</option>
                        <option value="4">Kim Loại</option>
                        <!--Add more-->
                    </select>
                </div>
                <!-- Size -->
                <div class="col-md-2 mb-3">
                    <label asp-for="Product.Size" class="form-label">Size</label>
                    <select asp-for="Product.Size" class="form-select form-select-lg">
                        <option value="" selected disabled></option>
                        <option value="1">S</option>
                        <option value="2">M</option>
                        <option value="3">L</option>
                        <option value="4">XL</option>
                        <!--Add more-->
                    </select>
                </div>
                <!-- Bar -->
                <div class="col-md-2 mb-3">
                    <label asp-for="Product.Bar" class="form-label">Bar</label>
                    <input asp-for="Product.Bar" type="text" class="form-control form-control-lg">
                    <span asp-validation-for="Product.Bar" class="text-danger"></span>
                </div>
                <!--Price-->
                <div class="col-md-2 mb-3">
                    <label asp-for="Product.Price" class="form-label">Price</label>
                    <input asp-for="Product.Price" type="text" class="form-control form-control-lg">
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <!-- Quantity -->
                <div class="col-md-2 mb-3">
                    <label asp-for="Product.Quantity" class="form-label">Quantity</label>
                    <input asp-for="Product.Quantity" type="text" class="form-control form-control-lg">
                    <span asp-validation-for="Product.Quantity" class="text-danger"></span>
                </div>
                <!-- Cage Status -->
                <div class="col-md-2 mb-3">
                    <label asp-for="Product.CageStatus" class="form-label">Status</label>
                    <select asp-for="Product.CageStatus" class="form-select form-select-lg" id="floatingSelect" aria-label="Floating label select example">
                        <option value="0">Hidden</option>
                        <option value="1">Show</option>
                        <option value="2">Customized</option>
                    </select>
                </div>
            </div>

            <div class="row">
                @* <!-- Row1 -->
                <div class="col-md-0 mb-3">
                <label for="floatingSelect" class="form-label"></label>
                <select class="form-select form-select-lg" id="floatingSelect" aria-label="Floating label select example">
                </select>

                <!-- cho nay ko biet bi loi gi nhung phai de 1 cot trong-->
                </div> *@
                <!-- Row2 -->
                <div class="col-md-3 mb-3">
                    @if (!string.IsNullOrEmpty(Model.Product.CageImg))
                    {
                        <img src="~/@Model.Product.CageImg" alt="Current Image" class="img-thumbnail" />
                        <p>Upload a new image if you want to change it.</p>
                    }
                </div>
                <div class="col-md-9 mb-3">
                    <label asp-for="Product.Description" class="form-label">Description</label>
                    <textarea asp-for="Product.Description" class="form-control form-control-lg" rows="4"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                    <br> </br>
                    <label asp-for="Product.CageImg">Cage Image</label>

                    <input name="CageImg" type="file" class="form-control" />
                    <span asp-validation-for="Product.CageImg" class="text-danger"></span>
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />

            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>

        </form>
    </div>


</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
