<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BirdCageShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BirdCageShop.styles.css" asp-append-version="true" />
    @* <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" asp-append-version="true">
    <link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png" asp-append-version="true" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true">

    <!--linear icon css-->
    <link rel="stylesheet" href="~/css/linearicons.css" asp-append-version="true">

    <!--flaticon.css-->
    <link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true">

    <!--animate.css-->
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">

    <!--owl.carousel.css-->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/css/bootsnav.css" asp-append-version="true">

    <!--style.css-->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

    <!--responsive.css-->
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true"> *@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">BirdCageShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("LoggedInUser") == "Adminstrator")
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="./Admin/MProduct/Index">Manage Product</a>
                            </li>
                        }
                        else if (Context.Session.GetString("LoggedInUser") == "Shopkeeper")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/">User Management</a>
                            </li>
                        }
                        else if (Context.Session.GetString("LoggedInUser") == "User")
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/">Privacy</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    @* <header>
        <div class="top-area">
            <div class="header-area">
                <!-- Start Navigation -->
                <div class="wrap-sticky" style="height: 114px;">
                <nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
                    <div class="container">
                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" asp-area="" asp-page="/Index">BirdCageShop<span></span></a>
                        </div><!--/.navbar-header-->
                        <!-- End Header Navigation -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                @if (Context.Session.GetString("Role") == "Adminstrator")
                                {
                                    <li class="scroll active"><a asp-area="" asp-page="/Index">home</a></li>
                                }
                                else if (Context.Session.GetString("Role") == "Shopkeeper")
                                {
                                    <li class="scroll"><a asp-area="" asp-page="/">a</a></li>
                                    <li class="scroll"><a asp-area="" asp-page="/">b</a></li>
                                    <li class="scroll"><a asp-area="" asp-page="/">c</a></li>
                                    <li class="scroll"><a asp-area="" asp-page="/">d</a></li>
                                }
                                else if (Context.Session.GetString("Role") == "User")
                                {
                                    <li class="scroll"><a asp-area="" asp-page="/">e</a></li>
                                }
                            </ul><!--/.nav -->
                        </div><!-- /.navbar-collapse -->
                    </div><!--/.container-->
                </nav><!--/nav-->
                </div>
                <!-- End Navigation -->
            </div>
            <div class="clearfix"></div>
        </div><!-- /.top-area-->
        <div id="home" class="welcome-hero">
            <!-- Your new section content goes here -->
            <div class="container">
                <div class="welcome-hero-txt">
                    <h2>get your desired car in reasonable price</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <button class="welcome-btn animated fadeInDown" asp-page="~/Login/Index">LOGIN</button>
                </div>
            </div>
        </div>

    </header> *@
    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BirdCageShop - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>