@page
@model BirdCageShop.Login.IndexModel
@{
    ViewData["Title"] = "Home page";
    //Set new layout here
    Layout = "_LayoutLogin";
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - CSS Cube Login Form</title>
    <link rel="stylesheet" href="~/loginCSS/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <form autocomplete='off' class='form' method="post">
        <div class='control'>
            <h1>
                Sign In
            </h1>
        </div>
        <div class='control block-cube block-input'>
            <input placeholder='Email' type='text' asp-for="@Model.Email">
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
        </div>
        <div class='control block-cube block-input'>
            <input placeholder='Mật khẩu' type='password' asp-for="@Model.Password">
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
        </div>
        <button class='btn block-cube block-cube-hover' type='submit'>
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
            <div class='text'>
                Đăng nhập
            </div>
        </button>
    </form>
    <!-- partial -->

</body>
</html>