@page
@model BirdCageShop.Pages.Admin.MUser.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.UserId" />
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserPassword" class="control-label"></label>
                <input asp-for="User.UserPassword" class="form-control" />
                <span asp-validation-for="User.UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Phone" class="control-label"></label>
                <input asp-for="User.Phone" class="form-control" />
                <span asp-validation-for="User.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Address" class="control-label"></label>
                <input asp-for="User.Address" class="form-control" />
                <span asp-validation-for="User.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserImg"></label>
                @if (!string.IsNullOrEmpty(Model.User.UserImg))
                {
                    <img src="~/@Model.User.UserImg" alt="Current Image" class="img-thumbnail" />
                    <p>Upload a new image if you want to change it.</p>
                }
                <input name="CageImg" type="file" class="form-control" />
                <span asp-validation-for="User.UserImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.DoB" class="control-label"></label>
                <input asp-for="User.DoB" class="form-control" />
                <span asp-validation-for="User.DoB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Status" class="control-label"></label>
                <select asp-for="User.Status" class="form-control">
                    <option value="Active">Active</option>
                    <option value="Suspended">Suspended</option>
                </select>
                <span asp-validation-for="User.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.RoleId" class="control-label"></label>
                <select asp-for="User.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="User.RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Gender" class="control-label"></label>
                <input asp-for="User.Gender" class="form-control" />
                <span asp-validation-for="User.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
