@page
@model BirdCageShop.Pages.Admin.MProduct.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.CageId" />
            <div class="form-group">
                <label asp-for="Product.CageName" class="control-label"></label>
                <input asp-for="Product.CageName" class="form-control" />
                <span asp-validation-for="Product.CageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="@((SelectList)TempData["CategoryId"])"></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Quantity" class="control-label"></label>
                <input asp-for="Product.Quantity" class="form-control" />
                <span asp-validation-for="Product.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.DiscountId" class="control-label"></label>
                <select asp-for="Product.DiscountId" class="form-control" asp-items="@((SelectList)TempData["DiscountId"])"></select>
                <span asp-validation-for="Product.DiscountId" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Product.CageImg" class="control-label"></label>
                <input asp-for="Product.CageImg" class="form-control" />
                <span asp-validation-for="Product.CageImg" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Product.CageImg"></label>
                <input name="CageImg" type="file" class="form-control" />
                <span asp-validation-for="Product.CageImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Material" class="control-label"></label>
                <input asp-for="Product.Material" class="form-control" />
                <span asp-validation-for="Product.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Size" class="control-label"></label>
                <input asp-for="Product.Size" class="form-control" />
                <span asp-validation-for="Product.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Bar" class="control-label"></label>
                <input asp-for="Product.Bar" class="form-control" />
                <span asp-validation-for="Product.Bar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CageStatus" class="control-label"></label>
                <input asp-for="Product.CageStatus" class="form-control" />
                <span asp-validation-for="Product.CageStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
